/* html{
    font-size: 19px;
}

body {
    font-size: 21px;
}

.box {
    font-size: 1.1em;
}

.content {
    font-size: 1.1em;
}

.text {
    font-size: 1.1em;
} */
 @font-face {
    font-family: "SVN Fontbox";
    src: url("../fonts/SVN-Fontbox-Boathouse-Filled.otf")
 }

p {
    font-size: 25px;
    line-height: 1.5;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase ;
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-align: justify;
}
h2 {
    font-family: "SVN Fontbox";
    font-size: 50px;
    font-weight: 900;
}