* {
    padding: 0;
        margin: 0;
        box-sizing: border-box;
        outline: 0;
        border: 0;
}

body {
    font-size: 62.5%;
    font-family: "Roboto Regular", sans-serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.container .heading {
    font-size: 2.8rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0 0;
    margin: 10px 0;
    text-align: center;
}

.container .sub-heading {
    color: #5d5d5d;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
}

.content {
    margin: 30px 0;
}

.content-item {
    font-size: 0;
}

.content-img {
    max-width: 100%;
}

.col-third {
    width: 33.33333%;
    padding: 0 8px;
    display: inline-block;
}

.col-third h3 {
    font-size: 1rem;
    margin: 10px 0 5px;
}

.col-third .by-item {
    font-size: 1rem;
    color: #7e7e7eaf;
    padding: 4px 0;
    margin: 10px 0;
    display: inline-block;
}

.col-third .by-item-color {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    padding-right: 7px;
}

.col-third .text-color {
    color: #5d5d5d;
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 1rem;
}

.col-third .btn-margin {
    margin: 30px 0 10px;
}

.col-third .btn{
    color: white;
        background-color: #2b4693;
        padding: 13px 25px;
        font-size: 0.9rem;
        text-decoration: none;
}

.col-third .btn:hover {
    color: #2b4693;
    background-color: rgb(147, 203, 203);
}