* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {

    font-size: 62.5%;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
ol {
    font-size: 2rem;
    margin-bottom: 5px;
    padding-left: 50px;
}

li {
    border-bottom: 2px solid rgb(217, 133, 133);
}
a {
    font-size: 2rem;
   color: rgb(10, 10, 237);
    text-decoration: none;
    display: inline-block;
    padding: 2rem;
    border-radius: 5px;
}