/* Bài tập 1 */

h1{
    color: red;
}

.highlight {
    color: green;
}

#special {
    text-decoration: underline;
}

.box > p {
    background-color: yellow;
}

ul > li {
    border: 2px solid #000000;
}


/* Bài tập 2 */

a:hover {
    color: orange;
}

button:active {
    background-color: green;
}

ul > li:first-child {
    color: blue;
}
ol > li:last-child {
    color: red;
}

li:nth-child(odd) {
    background-color: grey;
}

ul,ol {
    width: 40%;
}
/* Bài tập 3 */

h2::before {
    content: "👉";
}

li::after {
    content: "✔";
}

p::first-letter {
    color: red;
    font-size: 25px;
}

p::first-line {
    background-color: yellow;
}

p::selection {
    background-color: green;
}