* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
font-size: 1.6rem;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.broad {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
}