.faq-item input {
    display: none;
    /* ẩn checkbox */
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background: #eee;
}

.answer {
        max-height: none;
        opacity: 0;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 0.5s ease;
        height: 0;
        overflow: hidden;
}

.faq-item input:checked~.answer {
    opacity: 1;
    transform: translateY(0);
    height: 500px;
}

.faq-item input:checked+.question .arrow {
    transform: rotate(180deg);
    transition: transform 0.2s;
}

