* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Manrope, sans-serif;
    width: 100%;

}

/* sidebar */
.hamburger-box {
    position: relative;
    color: #fff;
    font-size: 10px;
    font-size: 1.8rem;
    display: none;
}

.hamburger-box label > svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.side-left {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #222;
    color: white;
    padding: 2rem 1rem;
    transition: left 0.4s ease;
    z-index: 1000;
    overflow-y: auto;
}
#sidebar:checked ~ .side-left {
    left: 0;
}

.side-left ul li {
    padding: 10px 0;
    margin-bottom: 5px;
}

.side-left > ul li:hover {
    color: #FD6038;
    cursor: pointer;
}

.side-left .close {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px 10px;
    background-color: #333;
    border-radius: 5px;
}

.side-left .close:hover {
    background-color: #FD6038;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 900;
}

#menu-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
}

/* end sidebar */

/* main */

.main {
    /* width: 1440px; */
}


/* header section */
.main .header-section {
    display: flex;
    width: 100%;
    height: 859px;
    background: var(--Yellow-Light, #F8EBC9);
}

.header-section .header-box {
    width: 81.25%;
    margin: 0 auto;
    position: relative;
}

.header-section .header-box .nav-container {
    display: flex;
}


 .header-box .nav .nav-container {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

/* nav */
/* nav-logo */
.nav .nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav .nav-logo .logo-icon {
    width: 31px;
    height: 31px; 
}

.nav .nav-logo > p {
    color: #0E1412;
    font-family: "Roboto Slab";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    text-align: center;
}

.nav .nav-logo .logo-text {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
}

/* nav-menu */
.nav .nav-menu .menu-box {
    display: flex;
    padding: 16px 0;
    gap: 40px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    position: relative;
}

.menu-box li a svg {
    display: inline-block;
    margin-left: 6px;
}



.menu-box > li:first-child a {
    color: #FD6038;
}

.menu-box .sub-nav-box {
    position: relative;
}

/* sub-nav */
.menu-box .sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: -223%;
    width: 185px;
    height: 200px;
    background-color: #fff;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.menu-box li:hover .sub-nav {
    display: block;
}

.sub-nav > li a {
    display: inline-block;
    padding-right: 60px;
    color: #586863;
    font-size: 1.6rem;
    line-height: 28px;
    margin:0 12px 12px 12px;
    cursor: pointer;
}

.sub-nav > li:hover a {
    color: #FD6038;
}


/* nav-tel */
.nav .nav-tel {
    display: flex;
    padding: 16px 0;
    gap: 4px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
}

.nav-tel .tel-number a {
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

/* header content */
.content-section {
    display: flex;
    margin-top: 50px;
}
/* header content */
.header-section .header-box .header-content {
    width: 570px;
    height: 458px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-box .header-content .sub-heading {
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 12px;
}

.header-box .header-content h1 {
    font-family: "Roboto Slab";
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 18px;
}


.header-box .header-content .header-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 38px;
}

.header-box .header-content .header-btn {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    padding: 15px 35px;
    background-color: #FD6038;
    cursor: pointer;
}

/* header-img */
.header-img-container {
    width: 656px;
    height: 568px;
    position: relative;
    margin-bottom: 20px;
}

.header-img-container .img-box {
    width: 71.6%;
    position: absolute;
    bottom: 0;
    right: 11%;
    display: flex;
    justify-content: center;
    margin-top: 92px;
    background: #017848;
}

.header-img-container .img-box .bg-img {
    width: 170px;
    height: 422px;
    background-color: #FED464;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

.header-img-container .img-box .header-img {
    width: 330px;
    z-index: 2;
}

.header-img-container .img-box .sub-header-img {
    width: 164px;
    height: 128px;
    position: absolute;
    top: 22%;
    right: -21%;
}

/* play-group */
.header-img-container .circle-text {
    position: absolute;
    top: 5px;
    right: -28px;
    z-index: 3;
}


.header-img-container .play-group {
    width: 184.837px;
    height: 184.21px;
    position: relative;
}

.header-img-container .play-group .play-img {
    position: absolute;
    top: 24%;
    right: 10%;
    z-index: 3;
}

/* About-section */
.about-section {
    color: #FFF;
    width: 100%;
    background-color: #0E1412;
}

.about-section .about-container {
    display: flex;
    width: 81.2%;
    margin: 0 auto;
}

.about-section .about-container .about-content {
    display: flex;
    gap: 73px;
    margin-bottom: 100px;

}

/* about-img-box */
.about-container .about-content .about-img-box {
    width: 570px;
    height: 570px;
    object-fit: cover;
    margin-top: 100px;
    position: relative;
}

.about-content .about-img-box .about-img {
    width: 570px;
    height: 570px;
}

.about-content .about-img-box .about-mask {
    position: absolute;
    bottom: 34%;
    right: -12%;
}

/* about-text */
.about-content .about-texts {
    width: 51.28px;
    height: 570px;
    margin-top: 100px;
}

.about-content .about-texts .about-text-box {
   width: 470px;
   margin: 64px 0 64px 48px;
}


.about-content .about-texts .about-heading-text {
    color: #FD6038;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px
}

.about-content .about-texts .about-title {
    color: #FFF;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 18px;
}

.about-texts .about-text-box  > p {
    color: #BECCC7;
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 28px;
}
/* .countdown */
.about-texts .about-text-box .countdown {
    display: flex;
    gap: 55px;
    margin-bottom: 40px;
}

.about-text-box .countdown .countdown-number {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
}

.about-text-box .countdown .countdown-text {
    color: #BECCC7;
    font-size: 1.8rem;
    line-height: 30px;
}

.about-text-box .countdown .countdown-law-cases {
    display: flex;
    flex-direction: column;
}

.about-text-box .countdown .countdown-lawyer {
    display: flex;
    flex-direction: column;
}

.about-text-box .countdown .countdown-happy-clients {
    display: flex;
    flex-direction: column;
}

.about-texts .about-text-box .about-btn {
    color: #fff;
    background-color: #FD6038;
    padding: 15px 35px;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

/* services-section */
.services-section {
    width: 100%;
    background-color: #fff;
}

.services-section .services-container {
    width: 81.2%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.services-section .services-container .services-text {
    width: 470px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
}

.services-container .services-text .services-heading-text {
    color: #586863;
    text-align: center;
    font-size: 1.8rem;
    line-height: 30px;
}

.services-container .services-text .services-title {
    color: #0E1412;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 18px;
}

.services-container .services-text > p {
    color: #586863;
    text-align: center;
    font-size: 1.8rem;
    line-height: 30px;
}

/* services-img */
.services-container .services-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.services-container .services-img .position-img {
    width: 30.6%;
    position: relative;
    object-fit: cover;
}
.services-container .services-img .services-btn-img {
    width: 330px;
    color: #0E1412;
    background-color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 30px;
    transition: background-color 0.5s;
}

.services-container .services-img .services-btn-img:hover {
    color: #fff;
    background-color: #FD6038;
    cursor: pointer;
}

/* services-btn */
.services-container .services-btn {
    color: #fff;
    background-color: #FD6038;
    padding: 15px 35px;
    margin: 55px auto 0;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

/* features */
.features-section {
    width: 100%;
    background-color: #fff;
}

.features-section .features-container {
    width: 84.6%;
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.features-section .features-container .features-top {
    width: 100%;
    display: flex;
    gap: 100px;
}

/*  */
/* features-top-img */
.features-container .features-top .features-top-img {
    width: 52.9%;
    position: relative;
    display: flex;
}

.features-top .features-top-img .features-img {
    width: 570px;
    height: 570px;
    position: relative;
}

.features-top-img .features-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 5%;
}

.features-top .features-top-img .sub-features-img-top {
    width: 117px;
    height: 129px;
    position: absolute;
    top: 34%;
    left: -5%;
}

.background-orange {
    width: 20px;
    height: 220px;
    background-color: #FD6038;
    position: absolute;
    top: 0;
    right: -5%;
}

/* features-top-text */
.features-top .features-top-text {
    display: flex;
}

.features-top .features-top-text .features-text-box {
    width: 470px;
    height: 390px;
    margin-top: 90px;
}

.features-top-text .features-text-box .features-top-heading {
    color: #586863;
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    line-height: 30px;
}

.features-top-text .features-text-box .features-top-title {
    color: #0E1412;
    font-size: 4.2rem;
    font-family: "Roboto Slab";
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 18px;
}

.features-top-text .features-text-box > p {
    color: #586863;
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 28px;
}


.features-top-text .features-text-box .features-top-list {
    color: #0E1412;
    font-size: 1.8rem;
    margin-left: 20px;
}

.features-top-list li {
    margin-bottom: 12px;
}

/* features-bot */

.features-bot {
    width: 95.98%;
    background-color: #fff;
}

.features-bot .features-bot-container {
    display: flex;
    justify-content: space-between;
    gap: 165px;
    margin-bottom: 150px;
}

/* features-bot-text */
.features-bot .features-bot-container .features-bot-text {
    width: 470px;
    height: 350px;
    margin-top: 94px;
    margin-left: 3%;
}

.features-bot-text .features-text .features-bot-heading{
    color: #586863;
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    line-height: 30px;
}

.features-text .features-bot-title {
    color: #0E1412;
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 18px;
}

.features-text > p {
    color: #586863;
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 53px;
}

.features-text .features-btn {
    color: #fff;
    padding: 15px 35px;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #FD6038;
    cursor: pointer;
}
/* eatures-bot-img */
.features-bot-img {
    width: 635px;
    position: relative;

}

.features-bot-img .features-img-box {
    width: 570px;
    position: relative;
}

.features-bot-img .sub-features-img-bot {
    position: absolute;
    top: 47%;
    left: -12%;
}

.features-img-box .background-green {
    width: 20px;
    height: 220px;
    background-color: #017848;
    position: absolute;
    bottom: 0;
    right: 0;
}

.features-bot-img .features-img-box > img {
    width: 570px;
    height: 570px;
    object-fit: cover;
}

/* team-section */
.team-section {
    width: 100%;
    background-color: #0E1412;
}

.team-section .team-container {
    width: 81.2%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
}

/* team-text */
.team-section .team-container .team-text {
   width: 40.08%;
   margin: 100px auto 0;
   display: flex;
   flex-direction: column;
   align-items: center;
    
}

.team-container .team-text .team-heading {
    color:#FD6038;
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    line-height: 30px;
}

.team-container .team-text .team-title {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 18px;
}

.team-container .team-text > p {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
}

/* team-members */
.team-container .team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}

.team-container .team-members .card {
    width: 33.3333%;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* members-img btn */
.card .members-img {
    position: relative;
    margin-bottom: 18px;
}

.card .members-img > img {
    width: 370px;
    height: 370px;
    object-fit: cover;
    cursor: pointer;
}

.card .members-img .members-img-btn {
    font-size: 1.8rem;
    padding: 15px 35px;
    background-color: #FD6038;
    font-weight: 600;
    line-height: 30px;
    position: absolute;
    bottom: 10%;
    left: 26.7%;
    cursor: pointer;
    display: none;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards ;
    animation-delay: 0.1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card .members-img:hover  .members-img-btn{
    display: block;

}

/*  */

.card > figcaption > h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.card > figcaption > p {
    color: #BECCC7;
    text-align: center;
    font-size: 1.6rem;
    line-height: 28px;
}

/* team-btn */
.team-container .team-btn {
    color: #fff;
    background-color: #FD6038;
    padding: 15px 35px;
    margin: 55px auto 115px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

/* awards-section */
.awards-section {
    width: 100%;
    height: 628px;
    background-color: #F8EBC9;
}

.awards-section .awards-container {
    width: 81.2%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* awards-text */
.awards-section .awards-container .awards-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
}

.awards-container .awards-text .awards-heading {
    color: #0E1412;
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    line-height: 30px;
}

.awards-container .awards-text .awards-title {
    color: #0E1412;
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px;
}

/* awards-item */
.awards-container .item-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin-top: 70px;
}

.awards-container .item-container .awards-item {
        width: 23.07%;
        height: 270px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}
.item-container .awards-item:first-child img {
    width: 136px;
    height: 100px;
}

.item-container .awards-item:nth-child(2) img {
    width: 198px;
    height: 101px;
}

.item-container .awards-item:nth-child(3) img {
    width: 143px;
    height: 100px;
}

.item-container .awards-item:last-child img {
    width: 100px;
    height: 100px;
}

/* testimonial-section */
.testimonial-section {
    width: 100%;
    background-color: #fff;
}

.testimonial-section .testimonial-container {
    width: 81.2%;
    height: 845px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

/* testimonial-text */
.testimonial-container .testimonial-text-box {
    display: flex;
    justify-content: space-between;
}

.testimonial-text-box .testimonial-text {
    width: 469px;
}

.testimonial-text-box .testimonial-text .testimonial-heading {
    color: #586863;
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    line-height: 30px;
}

.testimonial-text-box .testimonial-text .testimonial-title {
    color: #0E1412;
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px;
}

/* testimonial-arrow */
.testimonial-container .testimonial-arrow {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.testimonial-arrow > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #000;
}

.testimonial-arrow > span:hover {
    background-color: #FD6038;
    cursor: pointer;
}

/* testimonial-item-box */
.testimonial-item-box {
    display: flex;
}

.testimonial-item-box .testimonial-item {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.testimonial-item-box .testimonial-item .testimonial-content-box {
    display: flex;
    width: 33.333%;
    flex-direction: column;
    box-shadow: 0 20px 70px 0 rgba(14, 20, 18, 0.07);
}

.testimonial-content-box .testimonial-content {
    width: 310px;
}

.testimonial-item .testimonial-content > img {
    width: 64px;
    height: 64px;
    margin-bottom: 30px;
}

.testimonial-item .testimonial-content > p:nth-of-type(1) {
    color: #586863;
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.testimonial-item .testimonial-content > p:nth-of-type(2) {
    color: #0E1412;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    margin-top: 12px;
}

.testimonial-item .testimonial-content > p:nth-of-type(3) {
    content: #586863;
    font-size: 1.4rem;
    line-height: 24px;
}

/* radio-dot */
.radio-dot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.radio-dot .dot {
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    background: #000;
    cursor: pointer;
    transition: background 0.3s;
}

.radio-dot input {
    display: none;
}

.radio-dot input:checked + .dot {
    background: #FD6038;
}

/* faq-section */
.faq-section {
    width: 100%;
    background-color: #fff;
}

.faq-section .faq-container {
    width: 770px;
    height: auto;
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;
}

.faq-section .faq-container .faq-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-container .faq-header > h3 {
    color: #586863;
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    line-height: 30px;
}

.faq-container .faq-header > h2 {
    color: #0E1412;
    font-size: 4.2rem;
    font-family: "Roboto Slab";
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 18px;
}

/* faq-questions */
.faq-questions {
    display: flex;
    flex-direction: column;
}

.faq-questions .questions-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.faq-questions .questions-switch .switch-general,
.faq-questions .questions-switch .switch-other {
    color: #0E1412;
    font-size: 1.8rem;
    line-height: 30px;
    cursor: pointer;
}

.faq-questions .questions-switch input {
    display: none;
}

.faq-questions .questions-switch input:checked + .switch-general,
.faq-questions .questions-switch input:checked + .switch-other {
    color: #FD6038;
}

/* questions-box */

.faq-questions .questions-box {
    display: flex;
    flex-direction: column;
    margin: 95px 0 0;
}

.faq-questions .questions-box .questions {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    border-bottom: 1px solid #DBE0E2;
    box-shadow: 0 20px 70px 0 rgba(14, 20, 18, 0.07);
}

.questions-box .questions:last-of-type {
    border: none;
} 

.questions-box .questions > label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.questions > label > span {
    color: #0E1412;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 32px;
    padding: 20px 10px;
}

.questions > label > svg {
    margin: 23px;
}

.questions .answer-box .answer {
    color: #586863;
    font-size: 1.8rem;
    line-height: 30px;
    max-height: none;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    height: 0;
    overflow: hidden;
    display: block;
    margin-top: 18px;
}

.questions input:checked ~ .answer-box .answer  {
    opacity: 1;
    transform: translateY(0);
    height: 150px;
}

.questions input:checked + label > svg {
    transform: rotate(180deg);
    /* transition: transform 1s; */
}

/* blog section */
.blog-section {
    width: 100%;
    display: flex;
}

.blog-section .blog-container {
    width: 81.2%;
    height: 100%;
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;
}

.blog-section .blog-container .blog-header {
    display: flex;
    justify-content: space-between;
}

/* blog-header */
.blog-container .blog-header .blog-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.blog-header .blog-btn > span {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    padding: 15px 35px;
    background-color: #FD6038;
    cursor: pointer;
}

.blog-header .blog-header-text > h3 {
    color: #586863;
    font-size: 1.8rem;
    line-height: 30px;
}

.blog-header .blog-header-text > h2 {
    color: #0E1412;
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 18px;
}

.blog-header .blog-header-text > p {
    color: #586863;
    font-size: 1.8rem;
    line-height: 30px;
}
/* blog-item */
.blog-item {
    width: 100% ;
    display: flex;
    margin: 70px 0 150px;
    gap: 30px;
}


.blog-item .card-item {
    width: 33.3333%;
    display: flex;
    flex-direction: column;

}
 .blog-item .card-item > img {
    width: 370px;
    height: 370px;
    object-fit: cover;
    margin-bottom: 25px;
 }

.blog-item .card-item  .icon-img {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}
.card-item .icon-img > img {
    width: 64px;
    height: 64px;
}

.card-item .icon-img .sub-icon-img {
    display: flex;
    flex-direction: column;
}

.icon-img .sub-icon-img span:first-child {
    color: #0E1412;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.icon-img .sub-icon-img span:last-child {
    color: #586863;
    font-size: 1.6rem;
    line-height: 28px;
}

.card-item > span:first-of-type {
    color: #181D1F;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 12px;
}

.card-item > span:last-of-type {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.card-item > span:last-of-type:hover {
    color: #FD6038 ;
}

/* cta-section */
.cta-section {
    width: 100%;
    height: 494px;
    background-color: #017848;
    display: flex;
}

.cta-section .cta-container {
    color: #fff;
    width: 32.6%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-section .cta-container > h3 {
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    line-height: 30px;
}

.cta-section .cta-container > h2 {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 18px;
}

.cta-section .cta-container > p {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 53px;
    text-align: center;
} 

.cta-section .cta-container .cta-btn {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 15px 35px;
    background-color: #FD6038;
    cursor: pointer;
}

/* footer-section */
.footer-section {
    color: #fff;
    width: 100%;
    background-color: #0E1412;
    display: flex;
}

.footer-section .footer-container {
    width: 81.2%;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
   
}

/* contact & map */

.footer-section .footer-container .footer-contact {
    width: 100%;
    height: 300px;
    display: flex;
    gap: 80px;
    border-bottom: 1px solid #313D39;
}

.footer-container .footer-contact h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}

.footer-container .footer-contact span {
    color: #BECCC7;
    font-size: 1.6rem;
    line-height: 28px;
}

.footer-container .footer-contact .footer-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    cursor: pointer;
}

/*  */
.footer-container .footer-social {
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
}
.footer-logo {
    display: flex;
    flex-direction: column;
}
/* logo */
.footer-logo .footer-logo-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.footer-logo-box > p {
    width: 100px;
    font-size: 1.4rem;
    font-family: "Roboto Slab";
    line-height: 14px;
    display: inline-block;
    text-align: center;
}

.footer-logo .footer-text {
    font-size: 2.4rem;
    font-weight: 700;
    
}

.footer-logo .footer-logo-icon {
    margin-left: 35px;
    width: 31px;
    height: 31px;
    margin-bottom: 10px;
}
/* social */
.footer-social .social-group {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin: 0 10px;
}

.footer-social .social-group span {
    width: 36px;
    height: 36px;
    padding: 13px;
    background-color: #313D39;
    cursor: pointer;
}

.footer-social .social-group span:hover {
    background-color: #FD6038;
    cursor: pointer;
}

.footer-logo .copy-right {
    color: #BECCC7;
    font-size: 1.4rem;
    line-height: 24px;
}

/* reaponsive */

@media (max-width: 1400px) {
    .about-section .about-container {
        width: 94%;
    }
}

@media (max-width: 1200px) {
    .nav .nav-menu .menu-box {
            display: none;
        }
    
    .nav .nav-logo {
            display: none;
        }
    
    .hamburger-box {
            display: block;
        }
    .nav .nav-menu .menu-box {
        margin: 0;
    }

    .header-section .header-box {
        width: 90%;
    }

    .about-section .about-container {
        width: 96%;
    }

    .services-section .services-container {
        width: 97%;
    }

    .team-section .team-container {
            width: 97%;
     }

    .cta-section .cta-container {
        width: 60%;
    }

    .header-section .header-box .header-content {
        width: 392px;
    }

    .about-content .about-texts .about-text-box {
        width: 400px;
        margin: 0;
    }
    .features-section .features-container .features-top {
        width: 90%;
    }

    .testimonial-content-box .testimonial-content {
        width: 100%;
    }

    .footer-section .footer-container .footer-contact {
        flex-wrap: wrap;
        height: auto;
        gap: 30px;
      
    }

    .footer-container .footer-contact .footer-group {
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .about-container .about-content .about-img-box {
        width: 480px;
    }

    .features-section .features-container .features-top { 
        gap: 60px;
     }

    .features-bot-img .features-img-box {
        width: 480px;
    }

    .testimonial-item .testimonial-content>p:nth-of-type(1) {
        width: 100%;
    }

    .blog-header .blog-header-text {
             width:400px;
    }

    .features-top .features-top-text .features-text-box {
        width: 400px;
    }

}

@media (max-width: 992px) {
    .content-section {
        flex-direction: column;
    }
    .main .header-section {
        height: auto;
    }
    .header-section .header-box .header-content {
        width: 100%;
        text-align: center;
    }
    .about-section .about-container .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .about-content .about-texts {
        margin: 0;
    }

    .services-container .services-img {
        justify-content: center;
        gap: 50px;
    }
    .features-section .features-container {
        margin-top: 50px;
        gap: 0;
    }
    .features-section .features-container .features-top {
        flex-direction: column;
       align-items: center;
       gap: 0;
    }
    .features-top .features-top-text .features-text-box {
        width: auto;
        height: auto;
        margin-top: 30px;
    }
    .features-bot .features-bot-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin: 0;
        margin-bottom: 50px;
    }

    .features-bot .features-bot-container .features-bot-text {
       width: auto;
       height: auto;
       margin-bottom: 20px;
       margin: 30px;
    }

    .features-container .features-top .features-top-img {
        width: auto;
    }
        .services-container .services-btn {
            margin-top: 30px;
            padding: 15px 50px;
    }

    .team-section .team-container .team-text {
        width: 60%;
    }
    .team-container .team-members {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .team-container .team-btn {
        margin: 30px auto 20px;
    }
    .testimonial-content-box .testimonial-content:nth-last-of-type(3) {
        display: none;
    }

    .testimonial-content-box .testimonial-content {
        width: 100%;
    }

    .footer-section .footer-container .footer-contact {
        height: auto;
        flex-wrap: wrap;
    }
    .footer-container .footer-contact .footer-group {
        margin-bottom: 20px;
    }

    .about-content .about-texts .about-text-box {
        width: 345px;
    }
}


@media (max-width: 768px) {


    .about-section .about-container .about-content {
        align-items: center;
    }
    .testimonial-item-box .testimonial-item {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-item-box .testimonial-item .testimonial-content-box {
        flex-direction: column;
        width: 500px;
    }

    .testimonial-section .testimonial-container {
        height: auto;
    }

    .testimonial-content-box .testimonial-content {
        width: 450px;
    }

    .awards-section .awards-container {
        width: 97%;
    }

    .awards-container .item-container .awards-item {
        width: 177px;
        height: 150px;
    }

    .awards-container .item-container {
        gap: 10px;
    }
    .team-container .team-btn {
        margin: 0 auto 20px;
    }

    .blog-item  {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .blog-item .card-item {
        width: 47%;
    }

    .blog-header .blog-header-text {
            width: 400px;
        }
    .footer-section .footer-container .footer-contact {
        gap: 30px;
    }
    .footer-section .footer-container .footer-contact {
        flex-direction: column;
    }

    .awards-section {
        height: 360px;
    }
    
    .awards-section .awards-container .awards-text {
        margin-top: 30px;
    }
    .faq-section .faq-container {
        margin-top: 30px;
    }

    .faq-questions .questions-box {
        margin-top: 10px;
    }

    .blog-section .blog-container {
        margin-top: 30px;
    }

    .blog-section .blog-container {
       height: auto;
    }

    .header-section .header-box .header-content {
        margin-top: 30px;   
    }
}

@media (max-width: 576px) { 
    .faq-section .faq-container {
        width: auto;
    }

    .blog-section .blog-container .blog-header {
        flex-wrap: wrap;
    }

    .blog-header .blog-btn>span {
        margin-top: 10px;
    }

    .blog-item {
        justify-content: center;
    }

    .blog-item .card-item { 
        width: 76%;
    }

    .awards-container .item-container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .awards-section {
        height: auto;
    }

    .awards-container .item-container .awards-item {
        width: 380px;
        margin-bottom: 10px;
    }

    .team-container .team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-container .team-members .card {
        width: 70%;
        gap: 0;
    }

    .team-section .team-container .team-text {
        width: 85%;
        margin-top: 30px;
    }

    .about-container .about-content .about-img-box {
        display: none;
    }

    .main .header-section {
        height: auto;
    }

    .cta-section .cta-container {
        width: 85%;
    }

    .features-bot-img .features-img-box>img {
        width: 320.709px;
        height: 320.709px;
    }

    .features-bot-img .features-img-box {
        width: 320px;
    }

    .features-bot-img {
        width: 307px;
        position: relative;
    }

    .features-bot-img .sub-features-img-bot {
        position: absolute;
        top: 32%;
        left: -22%;
     }

    .features-top .features-top-img .features-img {
        width: 500px;
        height: 500px;
    }

    .features-top-img .features-img>img {
        width: 90%;
        height: 90%;
    }

    .features-section .features-container {
        align-items: center;
    }

    .background-orange {
        width: 20px;
        height: 220px;
        background-color: #FD6038;
        position: absolute;
        top: 0;
        right: 5%;
        }

    .services-container .services-img {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .services-container .services-img .position-img {
        width: 65.6%;
        position: relative;
        object-fit: cover;
        }

    .about-section .about-container {
        width: 65%;
    }

    .content-section {
        align-items: center;
        gap: 100px;
    }

    .header-img-container {
            width: 520px;
        }

    .header-img-container .img-box .header-img {
        width: 293px;
    }

    .header-img-container .play-group {
        position: absolute;
        top: 39px;
        left: -22px;
    }
}